<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jaraoke</title>
  <%-preload%>
  <%-css%>
  <script>
    window.__JARAOKE__ = {
      settings: {
        player: '<%-player%>'
      }
    }
  </script>
</head>
<body>
  <div id="app" class="w-screen h-screen"></div>
  <%-js%>
</body>
</html>
